<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</head>
<body>
	<!-- navbar section -->
	<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
		<div class="container-fluid">
		<a class="navbar-brand" href="#">Offcanvas navbar</a>
		<button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	
		<div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="#">Splash</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Model 1</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Model 2</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Model 3</a>
				</li>
			</ul>
		</div>
		</div>
	</nav>
	<!-- main section -->
	<main>
		<section class="py-5 text-center container">
			<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-light">ytubedb</h1>
				<p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
			</div>
			</div>
		</section>
		
		<div class="album py-5 bg-body-tertiary">
			<div class="container">
				<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 g-3">
					<!-- Nirmal Patel -->
					<div class="col">
						<div class="card shadow-sm">
							<img src="../static/images/Nirmal.png" class="bd-placeholder-img card-img-top" width="100%" height="100%" alt="Nirmal Patel Image">
							<div class="card-body">
								<h2>Nirmal Patel</h2>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<div class="collapse" id="collapseNirmal">
											<div class="card-body">
												<p class="card-text">Nirmal Patel is a Physics senior pursuing Elements of Computing certificate. He took on the leadership role for CS331E project. </p>
												<ul>
													<li>#Commits: NA</li>
													<li>#Issues: NA</li>
													<li>#Unit Tests: NA</li>
												</ul>
											</div>
										</div>
										
										<div class="d-flex justify-content-between align-items-center">
											<div class="btn-group">
												<button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#collapseNirmal" aria-expanded="false" aria-controls="collapseNirmal">
													View
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Alec Liu -->
					<div class="col">
						<div class="card shadow-sm">
							<img src="../static/images/Alec.png" class="bd-placeholder-img card-img-top" width="100%" height="100%" alt="Alec Liu Image">
							<div class="card-body">
								<h2>Alec Liu</h2>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<div class="collapse" id="collapseAlec">
											<div class="card-body">
												<p class="card-text">Alec Liu Bio</p>
												<ul>
													<li>#Commits: NA</li>
													<li>#Issues: NA</li>
													<li>#Unit Tests: NA</li>
												</ul>
											</div>
										</div>
										
										<div class="d-flex justify-content-between align-items-center">
											<div class="btn-group">
												<button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#collapseAlec" aria-expanded="false" aria-controls="collapseAlec">
													View
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Adrian Barajas -->
					<div class="col">
						<div class="card shadow-sm">
							<img src="../static/images/Adrian.png" class="bd-placeholder-img card-img-top" width="100%" height="100%" alt="Adrian Barajas Image">
							<div class="card-body">
								<h2>Adrian Barajas</h2>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<div class="collapse" id="collapseAdrian">
											<div class="card-body">
												<p class="card-text">Adrian Barajas Bio</p>
												<ul>
													<li>#Commits: NA</li>
													<li>#Issues: NA</li>
													<li>#Unit Tests: NA</li>
												</ul>
											</div>
										</div>
										
										<div class="d-flex justify-content-between align-items-center">
											<div class="btn-group">
												<button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#collapseAdrian" aria-expanded="false" aria-controls="collapseAdrian">
													View
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Junyu Yao -->
					<div class="col">
						<div class="card shadow-sm">
							<img src="../static/images/Junyu.png" class="bd-placeholder-img card-img-top" width="100%" height="100%" alt="Junyu Yao Image">
							<div class="card-body">
								<h2>Junyu Yao</h2>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<div class="collapse" id="collapseJunyu">
											<div class="card-body">
												<p class="card-text">Junyu Yao Bio</p>
												<ul>
													<li>#Commits: NA</li>
													<li>#Issues: NA</li>
													<li>#Unit Tests: NA</li>
												</ul>
											</div>
										</div>
										
										<div class="d-flex justify-content-between align-items-center">
											<div class="btn-group">
												<button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#collapseJunyu" aria-expanded="false" aria-controls="collapseJunyu">
													View
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!-- footer section -->
	<footer class="text-body-secondary py-5">
	<div class="container">
		<p class="float-end mb-1">
		<a href="#">Back to top</a>
		</p>
		<p class="mb-1">Album example is © Bootstrap, but please download and customize it for yourself!</p>
		<p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="/docs/5.3/getting-started/introduction/">getting started guide</a>.</p>
	</div>
	</footer>
</body>
</html>