<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Channel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand sticky-top navbar-dark bg-dark" aria-label="Main navigation">
        <div class="container-fluid">
            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('index')}}">Splash</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('about')}}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{url_for('showChannels')}}">Channels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('showVideos')}}">Videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('showPlaylist')}}">Playlists</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="py-5 mt-5">
        <div class="container">
            <h1 class="fw-light text-center">{{ channel.snippet.title }}</h1>
            <div class="card mb-3">

                <div class="text-center">
                    <img src="https://i.ytimg.com/vi/KOEfDvr4DcQ/hqdefault.jpg" alt="MrBeast Video Thumbnail"
                        class="img-fluid" style="width: 750px; height: auto;">

                </div>



                <div class="card-body">
                    <div class="row align-items-center">
                        <!-- Column for the Description Button -->
                        <div class="col-md-auto">
                            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#descriptionCollapse" aria-expanded="false"
                                aria-controls="descriptionCollapse">
                                Description
                            </button>
                        </div>

                        <!-- Column for the Statistics, centered -->
                        <div class="col d-flex justify-content-center">
                            <p class="mb-0 me-3"><small class="text-muted">Subscribers: {{
                                    channel.statistics.subscriberCount }}</small></p>
                            <p class="mb-0 me-3">Total Views: {{ channel.statistics.viewCount }}</p>
                            <p class="mb-0">Videos: {{ channel.statistics.videoCount }}</p>
                        </div>
                    </div>
                    <!-- Collapsible description -->
                    <div class="collapse" id="descriptionCollapse">
                        <div class="card card-body mt-3">
                            {{ channel.snippet.description }}
                        </div>
                    </div>
                    
                    <div class="btn-group">
                        <a href="{{ url_for('oneVideo', videoId='KOEfDvr4DcQ') }}" class="btn btn-sm btn-outline-secondary">View Video</a>
                        <a href="{{url_for('playList',playlistId='PLOU2XLYxmsILxbiyDRGC94XuT2dBXNY3n')}}" class="btn btn-sm btn-outline-secondary">View playlist</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>