<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Channel List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/nohyperlinks.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/ytubedblogo.png">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand sticky-top navbar-dark bg-dark" aria-label="Main navigation">
        <div class="container-fluid">
            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center" style="font-size: 18px;">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('index')}}">
                            <img src="../static/images/ytubedblogo.png" alt="ytubedb logo"
                                style="height: 35px; border-radius: 10px;">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('about')}}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Channels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('showVideos', page_num=1)}}">Videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('showPlaylist', page_num=1)}}">Playlists</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="py-5 mt-5">
        <div class="container">
            <h1 class="fw-light text-center">YouTube Channels</h1>
            <div class="container mt-4">
                <div class="row align-items-center">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4 text-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                {% if channels.has_prev %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('showChannels', page_num=current_page - 1, sort=request.args.get('sort', 'default'),search=request.args.get('search', '')) }}">Previous</a>
                                </li>
                                {% endif %}
                                {% for page in channels.iter_pages(right_current=2) %}
                                {% if page %}
                                {% if page == current_page %}
                                <li class="page-item active bg-darker">
                                    <a class="page-link active bg-darker" href="{{ url_for('showChannels', page_num=page, sort=request.args.get('sort', 'default'),search=request.args.get('search', '')) }}">{{
                                        page }}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('showChannels', page_num=page, sort=request.args.get('sort', 'default'),search=request.args.get('search', '')) }}">{{ page }}</a>
                                </li>
                                {% endif %}
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link"> ... </a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                {% if channels.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('showChannels', page_num=current_page + 1, sort=request.args.get('sort', 'default'),search=request.args.get('search', '')) }}">Next</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-4 text-end">
                        <form action="{{ url_for('showChannels', page_num=1) }}" method="get" class="me-2 d-flex">
                            <input type="text" name="search" class="form-control me-2" placeholder="Search channels..." aria-label="Search" value="{{ request.args.get('search', '') }}">
                            <input type="hidden" name="sort" value="{{ request.args.get('sort', 'default') }}">
                            <button class="btn btn-outline-secondary" type="submit">Search</button>
                        </form>

                        <br>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="sortingDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                Sort by: {{ request.args.get('sort', 'Default').capitalize() }}
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ url_for('showChannels', page_num=1, sort='subscribers', search=request.args.get('search', '')) }}">Subscriber Count</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('showChannels', page_num=1, sort='views', search=request.args.get('search', '')) }}">View Count</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('showChannels', page_num=1, sort='videos', search=request.args.get('search', '')) }}">Video Count</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('showChannels', page_num=1, sort='name', search=request.args.get('search', '')) }}">Channel Name</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('showChannels', page_num=1, search=request.args.get('search', '')) }}">Default</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-3">
                {% for channel in channels.items %}
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="{{ url_for('showChannel', channelId=channel.channel_id) }}">
                            <img class="bd-placeholder-img card-img-top" src="{{ channel.thumbnail }}"
                                alt="Channel Thumbnail">
                        </a>
                        <a href="{{ url_for('showChannel', channelId=channel.channel_id) }}">
                            <h5 style="padding-top: 10px;padding-left: 10px;">{{channel.channelName}}</h5>
                        </a>
                        <div class="d-flex justify-content-between align-items-center"
                            style="color: gray; padding: 10px;">
                            <a class="card-title" style="padding-left: 3px;">
                                <i class="fas fa-user-friends"></i>
                                {% if channel.subscriberCount >= 1000000000 %}
                                {{ channel.subscriberCount // 1000000000 }}B
                                {% elif channel.subscriberCount >= 1000000 %}
                                {{ channel.subscriberCount // 1000000 }}M
                                {% elif channel.subscriberCount >= 1000 %}
                                {{ channel.subscriberCount // 1000 }}K
                                {% else %}
                                {{ channel.subscriberCount }}
                                {% endif %}
                            </a>
                            <p class="card-title" style="padding-right: 3px;">
                                <i class="fas fa-video"></i> {{ channel.videoCount }}
                            </p>
                        </div>


                    </div>
                </div>
                {% endfor %}
            </div>
            <br>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if channels.has_prev %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('showChannels', page_num=current_page - 1, sort=request.args.get('sort', 'default'),search=request.args.get('search', '')) }}">Previous</a>
                    </li>
                    {% endif %}
                    {% for page in channels.iter_pages(right_current=2) %}
                    {% if page %}
                    {% if page == current_page %}
                    <li class="page-item active bg-darker">
                        <a class="page-link active bg-darker" href="{{ url_for('showChannels', page_num=page, sort=request.args.get('sort', 'default'),search=request.args.get('search', '')) }}">{{
                            page }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('showChannels', page_num=page,sort=request.args.get('sort', 'default'),search=request.args.get('search', '')) }}">{{ page }}</a>
                    </li>
                    {% endif %}
                    {% else %}
                    <li class="page-item">
                        <a class="page-link"> ... </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if channels.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('showChannels', page_num=current_page + 1, sort=request.args.get('sort', 'default'),search=request.args.get('search', '')) }}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </main>
    <!-- footer section -->
    <footer class="text-body-secondary py-5">
        <div class="container text-center">
            <p class="mb-1">
                <a href="#" style=" text-decoration: none;">
                    <i class="fas fa-arrow-up"></i> </a>
            </p>
        </div>
    </footer>
</body>

</html>