<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Channel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/ytubedblogo.png">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand sticky-top navbar-dark bg-dark" aria-label="Main navigation">
        <div class="container-fluid">
            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center" style="font-size: 18px;">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('index')}}">
                            <img src="../static/images/ytubedblogo.png" alt="ytubedb logo"
                                style="height: 35px; border-radius: 10px;">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('about')}}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            href="{{url_for('showChannels', page_num=1)}}">Channels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('showVideos', page_num=1)}}">Videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('showPlaylist', page_num=1)}}">Playlists</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="py-5 mt-5">
        <div class="container">
            <h1 class="fw-light text-center">{{ channel.channelName }}</h1>
            <div class="card mb-3">
                <div class="text-center">
                    <img src="{{ channel.thumbnail }}" alt="Channel Banner" class="img-fluid"
                        style="max-width: 100%; height: auto; margin-bottom: 20px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center" style="padding-left:15%;padding-right:15%">
                        <!-- Column for the Statistics, centered -->
                        <h6><i class="fas fa-user-friends"></i> {{ channel.subscriberCount }}</h6>
                        <h6><i class="far fa-eye"></i> {{ channel.viewCount }}</h6>
                    </div>
                    <br>
                    <div class="col-md-auto">
                        <button class="btn btn-outline-secondary w-100" type="button" data-bs-toggle="collapse"
                            data-bs-target="#descriptionCollapse" aria-expanded="false"
                            aria-controls="descriptionCollapse">
                            <i class="fas fa-align-left"></i>
                        </button>
                    </div>
                    <div class="collapse" id="descriptionCollapse">
                        <div class="card card-body mt-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5>Description</h5>
                                <p><em>Created {{ channel.publishedAt.strftime('%B %-d, %Y at %-I:%M %p')}}</em>
                                </p>
                            </div>
                            {{ channel.description|replace('\n', '<br>')|safe }}
                        </div>
                    </div>
                    <br>
                    <!-- Videos Accordion -->
                    <div class="accordion mb-3" id="videosAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingVideos">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseVideos" aria-expanded="false"
                                    aria-controls="collapseVideos">
                                    <p class="mb-0 me-3"><i class="fas fa-video"></i> {{ channel.videoCount }}</p>
                                </button>
                            </h2>
                            <div id="collapseVideos" class="accordion-collapse collapse" aria-labelledby="headingVideos"
                                data-bs-parent="#videosAccordion">
                                <div class="accordion-body">
                                    {% if videos %}
                                    <ul>
                                        {% for video in videos %}
                                        <li>
                                            <a href="{{ url_for('oneVideo', videoId=video.video_id) }}" class="ms-3"
                                                style="color: inherit; text-decoration: none;">{{ video.title }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    {% else %}
                                    <p>No videos found for this channel.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Playlists Accordion -->
                    <div class="accordion" id="playlistsAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingPlaylists">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapsePlaylists" aria-expanded="false"
                                    aria-controls="collapsePlaylists">
                                    <i class="fas fa-list"></i>
                                </button>
                            </h2>
                            <div id="collapsePlaylists" class="accordion-collapse collapse"
                                aria-labelledby="headingPlaylists" data-bs-parent="#playlistsAccordion">
                                <div class="accordion-body">
                                    {% if playlists %}
                                    <ul>
                                        {% for playlist in playlists %}
                                        <li>
                                            <a href="{{ url_for('playlist', playlistId=playlist.playlist_id) }}"
                                                class="ms-3" style="color: inherit; text-decoration: none;">{{
                                                playlist.title }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    {% else %}
                                    <p>This channel does not have any playlists.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>